<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe oublié</title>
</head>

<body>
    <div>
    <h2>Bonjour {{ firstname }} {{ lastname }},</h2>
    </div>
    <p>Vous avez oublié votre mot de passe, pour le réinitialiser, cliquez sur ce  <a href="https://main.d3de9xm2m3lkmk.amplifyapp.com/nouveau-mot-de-passe">lien</a>.</p>
    </br>
    <p>A bientôt !</p>
    <p>CarelyTeam</p>
    </div>
</body>

</html>