<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

        body {
            width: 100%;
            height: 100%;
        }

        h1 {
            font-family: 'Roboto', sans-serif;
        }

        p {
            font-size: 2rem;
        }
    </style>
</head>

<body>
    <h1>Votre établissement {{ company }} vous invite</h1>
    <p>Pour rejoindre vos collègues et discuter en équipe, inscrivez-vous en cliquant sur ce lien</p>
    <a href="https://main.d3de9xm2m3lkmk.amplifyapp.com/invitation?finess={{ finess }}">S'inscrire</a>
    <p>Vous pourrez ainsi participer aux groups de paroles de votre établissement et donner votre avis, faire entendre
        votre voix</p>

    <span>CarelyTeam reste à votre disposition</span>

    <span>A bientôt !</span>

</body>

</html>