<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mot de passe modifié</title>
</head>

<body>
    <div>
        <h3>Bonjour {{firstname}} {{lastname}},</h3>
        <p>Votre mot de passe a bien été réinitialisé !</p>
        <br>

        <p>Bien à vous!</p>
        <p>CarelyTeam</p>
    </div>
</body>

</html>